<div class="home" ng-controller="HomeController as ctrl">

    <h2 class="shim-bottom-short">Welcome to sample app</h2>
    
    <div class="row shim-bottom">
        <div class="col-md-6">
            <h1 id="want-to-title" class="action-title pull-left">I want to...</h1>
        </div>
        <div class="col-md-6 ">
            <button class="btn btn-default btn-sm pull-right">Do something optional... <span class="fa fa-play-circle-o"></span></button>
        </div>
    </div>

    <div class="row">
        <a ui-sref="news.article-list">View articles</a>
    </div>


</div>
